/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
profiles.clj
*.log
/resources/public/cljs
/resources/public/vendor
database.sqlite
node_modules
.nrepl-history

# Vim temporary files
*.swp
*.swo
