<!doctype html>
<html>
  <head>
    <title>{{title}}</title>
    <link href="/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <meta charset="UTF-8">
  </head>

  <body>
  <nav class="navbar navbar-light bg-faded">
    <div class="container">
      <h1 class="navbar-brand mb-0">Skuld</h1>
    </div>
  </nav>
  {% block content %}
  {% endblock %}
  <script src="/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/vendor/tether/dist/js/tether.min.js"></script>
  <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
  {% block init %}
  {% endblock %}
  </body>
</html>
